		.computer
		{
			background-image: url('images/HAL9000.png');
			background-size: 50% 50%;
		}

		.user
		{
			background-image: url('images/astronaut_icon.png');
			background-size: 50% 50%;
		}

		.container
		{
			width: 80%;
		}

		#record
		{
			position: relative;
			width: 75px;
			display: inline;
			top:225px;
			left:15px;
			float: right;
		}

		#status
		{
			position: relative;
			left:40%;
			color: red;
			font-size: 24;
		}

		table
		{
			display: inline-block;

			position: relative;
			left: 25%;
			background-color: #111;
			box-shadow: 1px 1px 25px #DDD inset;
			border-radius: 25px;
			margin-bottom: 20px;
			padding:auto;
			padding: 3%;
			min-width: 450px;
			min-height: 450px;
		}

		td
		{
			border-radius: 25px;
			border: 3px solid #444;
			background-color: darkgray;
			box-shadow: 0px 0px 35px #00A inset;
			margin: 10%;
			max-width: 100px;
			max-height: 100px;
			background-size:40px 40px;
			background-repeat:no-repeat;
			background-position: center;

		}
		form
		{
			position: relative;
			max-width: 50%;
			left:45%;
		}

		button
		{
			position: relative;
			left:45%;
		}

		p, label, h1
		{
			color: white;
		}

		p
		{
			display: inline;
		}

		h1
		{
			text-align: center;
		}


		body
		{
			background-image: url('images/space3.jpg');
			background-size: cover;
		}
